/*
Theme Name:   Recipes
Theme URI:    http://example.com/twenty-fifteen-child/
Description:  Recipes theme based on Astra
Author:       Kaho Chan
Author URI:   http://example.com
Template:     astra
Version:      1.1.3
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  Recipes Theme
*/

h1, h2, h3, h4, h5, h6, p, a, ul, li, .aioseo-breadcrumb {
    font-family: Inter, sans-serif;
}

p {
    font-size: 16px;
}

ol {
    margin: 0;
}

ul {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;;
}

.custom-rounded {
    border-radius: 8px;
}


/***********************************************************************/
/* HomePage */
/***********************************************************************/
/* .home__food-card {
    overflow:hidden;
} */

.home__food-card .elementor-widget-container,
.home__recent-recipes {
    border-radius: 8px;
    overflow: hidden;
}

.home__food-card img,
.home__recent-recipes img {
    transition: transform 0.8s ease;
}

.home__food-card img:hover,
.home__recent-recipes img:hover {
	transform: scale(1.1);
}

.home__food-card:hover h3 {
    color:#C71313!important;
}

.home__recent-recipes__container h3 {
    font-size:20px;
}

.home__recent-recipes__container:hover h3 {
    color: #C71313;
}



/***********************************************************************/
/* Recipes Page */
/***********************************************************************/
.recipes__pagination-links a {
    padding: 0 7px;
}

.recipes__recipe-card h3{
    font-size: 20px;
}

.recipes__related:hover h3 {
    color:#C71313;
}

.recipes__related img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.recipes__related .bg-light {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.recipes__related__img {
    overflow:hidden;
    border-radius:8px;
}

.recipes__related img {
    transition: transform 0.8s ease;
}

.recipes__related img:hover {
    transform: scale(1.1);
} 

.recipes__related h3 {
    font-size:20px;
}

.recipes__might-like {
    padding-left: 12px;
    font-size: 20px;
}

.recipes__check-input:checked + span.recipes__ingredients {
    text-decoration: line-through;
}

.list-group-item {
    border: none;
}

@media screen and (max-width: 767px) {
    .recipes__main-title {
        font-size: 30px;
    }
}



/***********************************************************************/
/* Category Page */
/***********************************************************************/

.category__recipe-card h3 {
    font-size:20px;
}

.category__recipe-card:hover h3,
.category__recipe-container:hover h3 {
    color:#C71313;
}


.category__container-image,
.category__recipe-card {
    overflow:hidden;
    border-radius: 8px;
}

.category__recipe-card img {
    transition: transform 0.8s ease;
}

.category__recipe-card img:hover {
    transform: scale(1.05);
}

.category__card-text {
    border-radius: 0 0 8px 0;
}

div.swiper-button-next:after, 
div.swiper-button-prev:after {
    bottom: 40px;
    position: relative;
}

.pagination__links {
    text-align: center;
    margin-top: 50px;
}

.pagination__links a {
    padding: 0 10px;
}